{% extends 'index.html' %}
{% load static %}
{% block main %}
<!--<h1>result={{res}}</h1> 
<h1>filename : {{filename}}</h1>-->
<h4><b>Video Forgery Type : {{msg}}</b></h1>
<div>
  <video width="295" height="240" controls>
    <source src="{% static 'C:\Users\PC\projects\detforg\static\Original.mp4' type='video/mp4' %}">
  Your browser does not support the video tag.
  </video>
  &emsp; &emsp;

  <video width="295" height="240" controls>
    <source src="{% static 'C:\Users\PC\projects\detforg\static\Duplicated.mp4' type='video/mp4' %}">
  Your browser does not support the video tag.
  </video>
</div>
<div id="vidnam">
    <h2> &nbsp; &emsp; Original Video     &emsp; &emsp; &emsp; 
        Duplicated Video</h2>
    </div>
{% endblock %}
